<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">我的点餐记录</div>
  <div class="panel-body">
    <p>...</p>
  </div>

  <!-- Table -->
      <table id="orders" class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>名字</th>
          <th>价钱</th>
          <th>点菜者</th>
          <th>时间</th>
        </tr>
        </thead>
      </table>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('#orders').DataTable({
        "processing": true,
        // "serverSide": true,
        "ajax": "<%= all_json_admin_orders_path %>",
        "columns": [
          { "data": "id" },
          { "data": "name" },
          { "data": "price" },
          { "data": "user" },
          { "data": "time" }
        ]
    });
    $('#orders tbody').on('click', 'tr', function () {
        // var id = this.id;
        // var index = $.inArray(id, selected);
 
        // if ( index === -1 ) {
        //     selected.push( id );
        // } else {
        //     selected.splice( index, 1 );
        // }
 
        $(this).toggleClass('selected');
    } );
  } );
</script>