<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">点餐情况</div>
  <div class="panel-body" id="panel-body">
    <%= form_tag(ajax_admin_orders_path, method: :get, remote: true) do %>
      <%= date_field_tag("date") %>
      <select name="meal">
        <option value="0">午饭</option>
        <option value="1">晚饭</option>
      </select>
      <%= submit_tag("查询") %>
    <% end %>
    <div id="research-result"></div>
  </div>

  
</div>
<!--  <script type="text/javascript">
   $(document).ready(function() {
     $('#orders').DataTable();
   } );
 </script> -->