
<div class="sidebar">
  <div class='hot'>
    <div class='hotTitle'>热门 / HOT</div>
    <% 6.times do%>
    <section class='hotCard'>
      <a href="" class='cover'><img src="***REMOVED******REMOVED******REMOVED******REMOVED***"></a>
      <a href="" class='jewelName'>***REMOVED******REMOVED******REMOVED******REMOVED******REMOVED***</a>
    </section>
    <% end %>
  </div>
</div>