<% if @result %>
  <h1>你已经成功订餐......</h1>
  <h3>you have successfully ording......</h3>
<% else %>
  <h1>出现了一些错误，订餐未成功，请稍候再尝试......</h1>
  <h3>Oops! Something's wrong, try it again latter pls......</h3>
<% end %>